<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="startingPath" value="D:\dockerseries"/>
    <add key="copiedTo" value="D:\MyWork3"/>
    <add key="startDate" value="2020-12-05"/>
    <add key="endDate" value=""/> <!--Leave empty for current date-->
  </appSettings>
</configuration>